/* .cormorant-<uniquifier> {
  font-family: "Cormorant", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}


.roboto-serif-<uniquifier> {
  font-family: "Roboto Serif", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100,
    "GRAD" 0;
} 

.stalemate-regular {
  font-family: "Stalemate", cursive;
  font-weight: 400;
  font-style: normal;
} */

/* .roboto-<uniquifier> {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
} */

@font-face {
    font-family: 'MiaNueva';
    src: url('../fonts/miamanueva.otf') format('opentype'),
         url('../fonts/miamanueva.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SFpro';
    src: url('../fonts/SF-Pro-Display-Regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

h1, h2, h3, h4, h5, p, li {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: #EFE3DD;
}

.container {
    padding: 0 40px;
}

.welcome {
    background: linear-gradient(to bottom, #948289 0%, #EFE3DD 38%);
    height: 100%;
    padding-top: 280px;
    padding-bottom: 380px;
}

.miama__subtitle {
    color: #948289;
    font-family: 'MiaNueva';
    font-weight: 400;
    margin-bottom: 20px;
}

.name {
    font-family: "Cormorant", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 56px;
    text-transform: uppercase;
    line-height: 50px;
}

.and_stalemate {
    font-family: "Stalemate", cursive;
    font-weight: 400;
    font-style: normal;
    margin-left: 70px;
}

.main_date {
    font-family: "Roboto Serif", serif;
    font-weight: 400;
    color: #948289;
    margin-top: 20px; 
    font-size: 24px;
}
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

.dear__guests {
    padding-bottom: 40px;
}

.dear__guests .container {
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.title {
    font-family: "Cormorant", serif;
    font-size: 56px;
    display: flex;
    justify-content: center;
    font-weight: 400;
    line-height: 50px;
    text-transform: uppercase;
}

.title span:nth-child(1) {
    margin-right: -10px;
    position: relative;
    z-index: 2;
}

.title span:nth-child(2) {
    margin-left: -10px;
    z-index: 1;
}

.all_text {
    color: #948289;
    text-align: center;
    width: 80%;
}

.dear__guests .container .all_text {
    margin-top: 20px;
}

/* !!!!!!!!!!!!!!!!!!!!!!!! */

.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 15px;
    padding: 20px;
    background-color: #EFE3DD;
    font-family: 'SFpro';
    color: #948289;
    text-align: center;
    max-width: 400px;
    justify-content: center;
    margin-top: 15px;
}

.day-name {
    font-style: italic;
    font-weight: 300;
    margin-bottom: 10px;
}

.date {
    font-size: 16px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.highlight {
    color: #000;
    font-weight: bold;
    z-index: 1;
    font-family: "Roboto Serif", serif;
}

.highlight::before {
    content: '';
    position: absolute;
    width: 45px;
    height: 45px;
    top: 50%;
    left: 46%;
    background-color: #F6C1CC; 
    clip-path: path('M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z');
    transform: scale(2);
    z-index: -1;
}

/* !!!!!!!!!!!!!!!!!!!!!!!!!!! */

.place {
    padding-bottom: 30px;
}

.place .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.place .container .title {
    margin: 10px 0 10px;
}

#fsz16 {
    font-size: 16px;
}

.place .all_text {
    margin-top: 30px;
}

.tire {
    margin: 0 20px;
}

.time {
    color: #c59aa2;
    font-family: "Roboto Serif", serif;
    font-weight: 600;
}
/* !!!!!!!!!!!!!!!!!!!!!!! */

.dressc {
    padding-bottom: 45px;
    background: linear-gradient(to top, #94828996 5%, #EFE3DD 90%);
}

.dressc .container {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.subtitle {
    font-family: 'MiaNueva';
    color: #948289;
    font-size: 24px;
    font-weight: 200;
    position: absolute;
    top: 232%;
    left: 76%;
    rotate: calc(45);
    transform: rotate(-8deg);
    z-index: 1;
}

.dressc .all_text {
    margin: 50px 0 30px;
}

.colors__wrapper {
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 35px;
}

.colors__wrapper img {
    margin: 0 30px 20px 0;
}

.colors__block1, .colors__block2 {
    display: flex;

}

.colors__block1 img:last-child {
    margin-right: 0;
}

.colors__block2 img:last-child {
    margin-right: 0;
}

#dresstext {
    margin: 0;
    margin-top: 10px;
}

/* !!!!!!!!!!!!!!!!!!!!!!!! */

.detatil {
    background: linear-gradient(to bottom, #94828996 0%, #EFE3DD 40%);
}

.detatil .container {
    display: flex;
    flex-direction: column;
}

.detatil .container img {
    width: 50px;
    /* margin-bottom: 40px; */
    margin: 20px auto 30px auto;
}

.detatil .title {
    position: relative;
}

.detatil .subtitle {
    top: 344%;
    left: 67%;
}

.detail_container1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.detail_container1 .all_text {
    width: 60%;
    margin-top: 10px;
}

.detailer__wrapper img {
    width: 70px;
    margin: 50px 0 10px;
}


.underline_text {
    text-decoration: underline;
}

#hdjkas {
    width: 65%;
}

.anim-item {
    opacity: 0;
    transform: translateY(50px); 
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
    backface-visibility: hidden; 
}

.anim-item.active {
    opacity: 1;
    transform: translateY(0); 
}

.anim-item.active:nth-child(2) { transition-delay: 0.1s; }
.anim-item.active:nth-child(3) { transition-delay: 0.2s; }
.anim-item.active:nth-child(4) { transition-delay: 0.3s; }
.anim-item.active:nth-child(5) { transition-delay: 0.4s; }
.anim-item.active:nth-child(6) { transition-delay: 0.5s; }
.anim-item.active:nth-child(7) { transition-delay: 0.6s; }

/* Начальное состояние: сдвиг вниз + поворот */
.subtitle.anim-item {
    opacity: 0;
    transform: translateY(50px) rotate(-20deg); /* Добавляем поворот сюда */
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

/* Конечное состояние: возврат на место + ТОТ ЖЕ поворот */
.subtitle.anim-item.active {
    opacity: 1;
    transform: translateY(0) rotate(-20deg); /* Поворот должен дублироваться здесь! */
}
/* !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

.contact {
    background-color: #948289;
    padding: 45px 0;
}

.contact .container {
    text-align: center;
}

.contact__text {
    font-family: "Roboto Serif", serif;
    color: #fff;
    font-size: 16px;
    font-weight: 200;
    text-align: center;
}

a {
    text-decoration: none;
}

.tel {
    color: #F6EFE9;
    font-family: "Roboto Serif", serif;
    font-size: 20px;
    font-weight: 300;
}

.contact_btn {
    background-color: #EFE3DD;
    align-items: center;
    text-align: center;
    padding: 10px 85px;
    border-radius: 10px;
    margin-top: 20px;
    border: none;
}

.contact_link {
    color: #948289;
    font-family: "Roboto Serif", serif;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 16px;
    margin-right: 10px;
}

.contact__text span {
    font-weight: 500;
}

/* countier */

.countier {
    padding: 40px 0 100px;
}

.countier .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.countdown {
    display: flex;
    gap: 30px;
    justify-content: center;
    background-color: #EFE3DD;
    padding: 20px;
    font-family: sans-serif;
    margin-top: 40px;
}

.countdown-item {
    text-align: center;
}

.countdown-value {
    font-size: 22px;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    color: #000;
    margin-bottom: 5px;
}

.countdown-label {
    font-size: 14px;
    color: #000;
    font-weight: 100;
}

.countier .container .title {
    font-size: 40px;
    text-align: center;
    margin-top: 20px;
}
/* """""""""""""""""""""""" */
/* Фоновая подложка (затемнение) */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5); 
}

/* Контент модального окна */
.modal-content {
    background-color: #948289; 
    margin: 60% auto;
    padding: 40px 20px;
    width: 90%;
    max-width: 400px;
    border-radius: 20px;
    position: relative;
    text-align: center;
}

/* Кнопка закрытия (крестик) */
.close-modal {
    position: absolute;
    right: 20px;
    top: 10px;
    color: #EFE3DD;
    font-size: 55px;
    cursor: pointer;
}

.modal-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.modal-label {
    background-color: #EFE3DD;
    color: #948289;
    padding: 10px 30px;
    border-radius: 50px;
    font-family: serif;
    font-size: 18px;
    margin-bottom: 10px;
}

.tg-link img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 10px;
    transition: transform 0.2s;
}

.tg-link:hover img {
    transform: scale(1.1);
}

